form action="/bookies/new" method="post"
    input type="text" name="name" placeholder="Titel på Book"
    input type="text" name="author_id" placeholder="id för författare"
    input type="submit" value="Lägg till Bok"